@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, sans-serif;
}

.font-mono {
  font-family: 'SF Mono', 'Monaco', 'Consolas', monospace;
}

.bg-slate-750 {
  background-color: rgb(40, 48, 61);
}
